# Dependencies
node_modules/
.pnpm-store/

# Build
.next/
.next-dev/
dist/
out/
coverage/
*.tsbuildinfo

# Env
.env
.env.local
.env.production

# Turbo
.turbo/

# Drizzle
drizzle/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
